header {
    text-align: center;
}

header h1 {
    margin: 40px;
}


/* display of the day planner  */

#layout-display {}


/* each slot row */

.slot {}


/* each time slot */

.slot-time {}


/* time display of each time slot */

.slot-label {
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    /* margin: 0px; */
    border: 1px solid black;
}


/* each slot input */

.slot-input {}


/* textarea of each time slot */

.slot-textarea {
    height: 100%;
    width: 100%;
    resize: none;
}


/* each slot done */

.slot-done {}


/* button of each time slot */

.slot-button {
    height: 100%;
    width: 100%;
}


/* media queries */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}